<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morgan.design"
    android:installLocation="auto"
    android:versionCode="31"
    android:versionName="1.26" >

    <uses-sdk
        android:targetSdkVersion="18"
        android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" >
    </supports-screens>

    <application
        android:name="TeaApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/dashboard_teapot_icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.morgan.design.activity.TeaRoundGeneratorDashboardActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.morgan.design.activity.TeaRoundGeneratorHomeActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.morgan.design.activity.TeaRoundGeneratorCreditsActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.morgan.design.activity.TeaRoundGeneratorResultsActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.morgan.design.activity.TeaRoundGeneratorRunningActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.morgan.design.activity.TeaRoundGeneratorStatisticsActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.morgan.design.activity.TeaRoundPlayerStatisticsActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.morgan.design.activity.TeaRoundGroupManagementActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.morgan.design.activity.general.FormActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.morgan.design.TeaRoundPreferences"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation" />
    </application>

</manifest>